<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>首页 - 可编辑页面列表</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">  <!-- 添加favicon引用 -->
    <style>
        body { font-family: "Microsoft YaHei", sans-serif; margin: 40px; }
        a { display: block; margin: 10px 0; font-size: 18px; text-decoration: none; color: #4a90e2; }
        a:hover { text-decoration: underline; }
    </style>
</head>
<body>
    <h2>这里相当于传好文件之后的首页  之后要改 现在只有2-5的链接是有效的</h2>
    {% for page in pages %}
        <a href="{{ url_for('page', page_id=page) }}">进入页面：{{ page }}</a>
    {% endfor %}

    <h2>数据表查看</h2>

        <a href="{{ url_for('all_sheets') }}">查看所有数据表</a>
    <h2>页面展示查看</h2>

        <a href="{{ url_for('version1') }}">页面展示</a>
</body>
</html>